[build]
  publish = "dist"
  command = "node --version && npm --version && npm install && npx vite build"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200